body{
margin: 0;
background-color: #000000;
text-align: justify;
font-family: 'Assistant', sans-serif;
}
h1{
margin: 10px;
background-color: #0066F9;

text-align: center;
color: #FFFFFF;
}


section#Pantallas1{
  display: inline-block;
  margin: 0px;
  width: 1280px;
  height: 360px;
  padding: 0px;   
  background-color: #000000;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

section#Pantallas2{
  display: inline-block;
  margin: 0px;
  width: 1280px;
  height: 239px;
  padding: 0px;   
  background-color: #000000;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}


.CajaBotones {
  width: 100%;
  margin: 0px;
  height: 25px;
  line-height: 25px;
  background-color: #032eeb;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.Boton{
  display: inline-block;
  margin: 0px;
  width: 100px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}

.Boton:hover{
  background:#010172;
  color:#fff}




.CajaTitulosLargo{
  margin: 0px;
  width: 200px;
  border-radius: 4px;
  background:rgba(0, 0, 0, 0);
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 220px;
  cursor:
  pointer;
  transition:all .4s;
}

.CajaTitulosLargo:hover{
  color:#fff;
  background: rgba(221, 0, 0, 100);
}

.Titulo_Señal{
  display: inline-block;
  margin: 0px;
  width: 150px;
  height: 20px;
  padding: 0px;   
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}

.CajaTitulosInferior_Monitor2{
  margin: 0px;
  width: 100px;
  border-radius: 3px;
  background:rgba(0, 0, 0, 0);
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 220px;
  cursor:
  pointer;
  transition:all .4s;
}

.CajaTitulosInferior_Monitor2:hover{
  color:#fff;
  background: rgba(221, 0, 0, 100);
}




.Titulo_Señal_Inferior_Monitor2{
  display: inline-block;
  margin: 0px;
  width: 100px;
  height: 15px;
  padding: 0px;   
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.3);
  font-size: x-small;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}


.Titulo_Señal_Largo{
  display: inline-block;
  margin: 0px;
  width: 200px;
  height: 20px;
  padding: 0px;   
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}


section#Relojes{
  display: inline-block;
  margin: 0px;
  width: 100%;
  height: 90px;
  padding: 0px;
  background-color: #000000;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}



.Div_Pantalla_Pequeña_Inferior{
  width: 239px;
  height: 33%;
}



.CajaTitulosSinSeñal{
  margin: 0px;
  width: 100px;
  border-radius: 4px;
  background:rgba(255, 0, 0, 100);
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 220px;
  cursor:
  pointer;
  transition:all .4s;
}

.CajaTitulosSinSeñal:hover{
  color:#fff;
  background: rgba(255, 255, 255, 100);
}

.Titulo_Sin_Señal{
  display: inline-block;
  margin: 0px;
  width: 100px;
  height: 20px;
  padding: 0px;   
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}





section#FondoImagenHome{
  display: inline-block;
  margin: 0px;
  width: 100%;
  height: 100px;
  align-items: center;
  text-align: center;

}

.BotonHome{
  background-color: #FF0000;
  display: inline-block;
  margin: 20px;
  width: 250px;
  height: 50px;
  padding: 0px;
  font-size: x-large;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonHome:hover{
  background:#1E1EF0;
  color:#fff
}


.BotonEspecial_1{
  display: inline-block;
  margin: 20px;
  width: 1140px;
  height: 50px;
  padding: 0px;
  background-color: #0097FF;
  font-size: xx-large;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonEspecial_1:hover{
  background:#012251;
  color:#fff}

.BOTON_Monitor2{
  background-color: #000000;
  display: inline-block;
  margin: 0px;
  width: 100px;
  height: 15px;
  padding: 0px;
  border-radius: 3px;
  font-size: x-small;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .4s
}

.BOTON_Monitor2:hover{
  background:#FF0000;
  color:#fff}


  .BOTON_Monitor3{
    background-color: #000000;
    display: inline-block;
    margin: 0px;
    width: 70px;
    height: 15px;
    padding: 0px;
    border-radius: 0px;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    cursor:
    pointer;
    transition:all .4s
  }
  
  .BOTON_Monitor3:hover{
    background:#FF0000;
    color:#fff}


    .CajaMenuChile2{
      margin: 0px;
      width: 70px;
      border-radius: 0px;
      background:rgba(0, 0, 0, 0);
      font-weight: bold;
      color: #FFFFFF;
      position: absolute;
      left: 0px;
      top: 220px;
      cursor:
      pointer;
      transition:all .4s;
    }
    
    .CajaMenuChile2:hover{
      color:#fff;
      background: rgba(221, 0, 0, 100);
    }


.CajaTitulosInferior_Monitor2_BOTON{
  margin: 0px;
  width: 100px;
  border-radius: 3px;
  background:rgba(0, 0, 0, 0);
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 220px;
  cursor:
  pointer;
  transition:all .4s;
}

.CajaTitulosInferior_Monitor2_BOTON:hover{
  color:#fff;
  background: rgba(221, 0, 0, 100);
}



/*--------PAGINA MONITOR GIGANTE MONITOR 2--------*/




section#PantallasInferior1{
  display: inline-block;
  margin: 0px;
  width: 1280px;
  height: 180px;
  padding: 0px;   
  background-color: #000000;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

section#PantallasInferior2{
  display: inline-block;
  margin: 0px;
  width: 1280px;
  height: 180px;
  padding: 0px;   
  background-color: #000000;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.Div_Pantalla_Pequeña_Inferior_Monitor2{
  width: 320px;
  height: 180px;
}


section#RelojesMonitor2{
  display: inline-block;
  margin: 0px;
  padding: 0px;   
  background-color: #000000;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}



.CajaRelojes{
  width: 100%;
  height: 100%;
}








.InfoSismo1VERDE{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: rgb(0, 173, 0);
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: bold;
  line-height: 100px;
}

.InfoSismo2VERDE{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: rgb(0, 173, 0);
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: bold;
  line-height: 100px;
}


.InfoSismo1AMARILLO{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: #eeff00;
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: bold;
  line-height: 100px;
}

.InfoSismo2AMARILLO{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: #eeff00;
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: bold;
  line-height: 100px;
}

.InfoSismo1NARANJO{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: #ff5e00;
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  line-height: 100px;
}

.InfoSismo2NARANJO{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: #ff5e00;
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  line-height: 100px;
}

.InfoSismo1ROJO{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: #ff0000;
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  line-height: 100px;
}

.InfoSismo2ROJO{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: #ff0000;
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  line-height: 100px;
}



  .NombreEstacion{
    display: inline-block;
    margin: 0px;
    width: 200px;
    height: 15px;
    padding: 5px;   
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.4);
    text-align: right;
    font-weight: bold;
    color: #FFFFFF;
  }

  
  .NombreEstacionesChile{
    background-color: #5c5d5e;
    display:inline-table;
    margin: 0px;
    width: 350px;
    height: 15px;
    padding: 5px; 
    font-size: 10PX;
    border-radius: 0px;
    font-weight: bold;
    text-align: right;
    line-height: 15px;
    color: #FFFFFF;
    cursor:
    pointer;
    transition:all .7s
  }
  
  .NombreEstacionesChile:hover{
    background:#0000df;
    color:#fff
  }


  .NombreEstacionesAysen{
    background-color: #5c5d5e;
    display:inline-table;
    margin: 0px;
    width: 100%;
    height: 20px;
    padding: 0px; 
    font-size: 10PX;
    border-radius: 0px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    color: #FFFFFF;
    cursor:
    pointer;
    transition:all .7s
  }
  
  .NombreEstacionesAysen:hover{
    background:#0000df;
    color:#fff
  }


  .FondoBody{
    background-color: rgb(0, 0, 0);
  }

  .VIVO{
    margin: 0px;
    background-color: red;
    font-weight: bold;
    text-align: center;
    color: white;
    height: 20px;
    width: 50px;
  }


  .TEXTO1{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    color: black;
    height: 20px;
    width: 765px;
  }


  .TEXTO2{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    color: black;
    height: 20px;
    width: 405px;
  }


.TituloPrincipalEstacionesChile{
  margin: 00px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  background-color: #0066F9;
  text-align: center;
  color: #FFFFFF;
}

.BotonIrisEdu{
  background-color: #3888f8;
  display:inline-table;
  margin: 0px;
  width: 100%;
  height: 40px;
  font-size: 25PX;
  border-radius: 0px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonIrisEdu:hover{
  background:#010172;
  color:#fff
}


.TituloPrincipalEstacionesChile3{
  margin: 00px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: large;
  background-color: #6ba8fd;
  text-align: center;
  color: #FFFFFF;
}




.TituloHome{
  background-color: #0066F9;
  width: 100%;
  height: 60px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 35px;
  font-weight: bold;
}


.DivBotonesHome{
  width: 100%;
  text-align: center;
  margin:auto;
}

.BotonesHomeGRIS{
  background-color: #444444;
  display:inline-table;
  margin: 10px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 0px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonesHomeGRIS:hover{
  background:#25252F;
  color:#fff
}

.BotonesHomeAZUL{
  background-color: #032eeb;
  display:inline-table;
  margin: 10px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 0px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonesHomeAZUL:hover{
  background:#010172;
  color:#fff
}

.BotonesHomeAZUL2{
  background-color: #032eeb;
  display:inline-table;
  margin: 10px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 0px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonesHomeAZUL2:hover{
  background:#010172;
  color:#fff
}

.BotonesHomeROJO{
  background-color: #f80000;
  display:inline-table;
  margin: 10px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 0px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonesHomeROJO:hover{
  background:#8f0000;
  color:#fff
}

.BotonesHomeVERDE_2{
  background-color: #1ea88b;
  display:inline-table;
  margin: 10px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 0px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonesHomeVERDE_2:hover{
  background:#016e57;
  color:#fff
}

.BotonesHomeNARANJO{
  background-color: #FF6600;
  display:inline-table;
  margin: 10px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 0px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonesHomeNARANJO:hover{
  background:#C04E00;
  color:#fff
}

.BotonesHomeMORADO{
  background-color: #8f00c7;
  display:inline-table;
  margin: 10px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 0px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonesHomeMORADO:hover{
  background:#480069;
  color:#fff
}

.BotonesHomeVERDE{
  background-color: #5abb00;
  display:inline-table;
  margin: 10px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 0px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonesHomeVERDE:hover{
  background:#1a4600;
  color:#fff
}

.BotonesHome{
  background-color: #bbff00;
  display:inline-table;
  margin: 10px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 0px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonesHomeAZUL2:hover{
  background:#010172;
  color:#fff
}


.TextoBotonHome{
  background-color: red;
}


.BOTON_MonitorSismo{
  background-color: #032eeb;
  display: inline-block;
  margin: 0px;
  width: 70px;
  height: 20px;
  line-height: 20px;
  padding: 0px;
  border-radius: 0px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}

.BOTON_MonitorSismo:hover{
  background:#010172;
  color:#fff
}

.NombreEstacionesAysen2{
  background-color: #0177ec;
  display:inline-table;
  margin: 0px;
  width: 200px;
  height: 20px;
  padding: 0px; 
  font-size: 15PX;
  border-radius: 0px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}

.NombreEstacionesAysen2:hover{
  background:#0000df;
  color:#fff
}

.Monitor4{
  width: 1920px;
  height: 1080px;
  background-color: #0097FF;
}

.Monitor4Pantalla{
  width: 640px;
  height: 360px;
  display:inline-block;
  float:left;
  margin: 0px;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}

.Monitor5Pantalla{
  width: 1920px;
  height: 1080px;
  display:inline-block;
  float:left;
  margin: 0px;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}


.Monitor6{
  width: 1920px;
  height: 1080px;
  background-color: #000000;
}

.Monitor6Pantalla{
  width: 960px;
  height: 540px;
  display:inline-block;
  float:left;
  margin: 0px;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}

.MonitorTVN{
  width: 1920px;
  height: 1080px;
  background-color: #000000;
}


.MonitorTVNPantalla{
  width: 1920px;
  height: 1080px;
  display:inline-block;
  float:left;
  margin: 0px;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}


.TituloSeñalMonitor5{
  background-color: #000000;
  margin: 10px;
  width: 150px;
  height: 20px;
  font-size: 15px;
  border-radius: 0px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.TituloSeñalMonitor5:hover{
  background:#0017e2;
  color:#fff
}

.MonitoresFondo{
  background-color: #000000;
}


.DivTituloSeñalMonitorNoticias1{
  background-color: #000000;
  position: absolute;
  margin: 0px;
  width: 80px;
  height: 10px;
  line-height: 10px;
  cursor:
  pointer;
  transition:all .7s
}

.DivTituloSeñalMonitorNoticias1:hover{
  background:#0017e2;
  color:#fff
}




.PantallasMonitorNoticias1{
  display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}



.PantallaEmbed{
  position:relative;
  display:block;
  width:100%;
  padding:0;
  overflow:hidden;
}



.Pantalla16_9{
  padding-top:56.25%;
}


.PantallaEmbedItem{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  border:0;
}


.TituloSeñalMonitorNoticias1{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: 25%;
  height: 15px;
  line-height: 15px;
  position: absolute;
  bottom: 3px;
  font-family: Assistant;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.TextoTituloSeñalMonitorNoticias1{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: 35%;
  height: 15px;
  font-size: 10px;
  position: absolute;
  font-weight: bold;
  text-align: center;
  line-height: 15px;
  color: #FFFFFF;
}

.CajaTitulos{
  margin: 0px;
  width: 150px;
  border-radius: 4px;
  background:rgba(0, 0, 0, 0);
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 220px;
  cursor:
  pointer;
  transition:all .4s;
}

.CajaTitulos:hover{
  color:#fff;
  background: rgba(221, 0, 0, 100);
}


.BarraBotonMonitorNoticias1{
  background:rgba(0, 0, 0, 0);
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 3px;
  text-align: center;
}





.BotonMonitorNoticias1{
  display: inline-block;
  margin: 0px;
  width: 5%;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}
.BotonMonitorNoticias1:hover{
  background:#0000f1;
  color:#fff
}


.BarraBotonMonitorNoticias3{
  background:rgba(0, 0, 0, 0);
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 3px;
  text-align: center;
}





.BotonMonitorNoticias3{
  display: inline-block;
  margin: 0px;
  width: 5%;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}
.BotonMonitorNoticias3:hover{
  background:#0000f1;
  color:#fff
}


.TextoTituloVideoVivoKraoRoviPantallaGrande{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: 20%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 5px;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.TextoTituloVideoVivoKraoRoviPantallaPequeña{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: 20%;
  height: 15px;
  line-height: 15px;
  position: absolute;
  bottom: 3px;
  font-family: 'Assistant', sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.BotonIcono{
  display: inline-block;
  margin: 0px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}

.BotonIcono:hover{
  background:#010172;
  color:#fff}

.CuadroInfoSismos{
  display: inline-block;
  float: left;
  width: 100%;
  height: 120px;
  
}

.CuadroMagnitud{
  display: inline-block;
  float: left;
  width: 15%;
  height: 120px;
}
.CuadroMagnitud_Magnitud{
  background-color: #d25500;
  width: 100%;
  height: 75%;
  line-height: 65%;
  font-family: 'Assistant', sans-serif;
  float: left;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}
.CuadroMagnitud_Tsunami{
  background-color: #00cc00;
  width: 100%;
  height: 25%;
  line-height: 25%;
  font-family: 'Assistant', sans-serif;
  float: left;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.CuadroDatos{
  width: 85%;
  height: 120px;
  float: left;
}
.CuadroDatos_Referencia{
  background-color: #ff6600;
  width: 100%;
  height: 50%;
  font-family: 'Assistant', sans-serif;
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}
.CuadroDatos_Fecha{
  background-color: #ff6600;
  width: 100%;
  height: 50%;
  font-family: 'Assistant', sans-serif;
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}




.CAJATextoTituloPantallaPequeñaSpacex{
  background: rgb(0, 0, 0, 0.0);
  margin: 0 auto;
  width: 100%;
  height: 15px;
  line-height: 15px;
  position: absolute;
  top: 5px;
}

.TextoTituloPantallaPequeñaSpacex{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: 20%;
  height: 15px;
  line-height: 15px;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
}


.CAJATextoTituloPantallaGrandeSpacex{
  background: rgb(0, 0, 0, 0.0);
  margin: 0 auto;
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 2%;
}

.TextoTituloPantallaGrandeSpacex{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: 20%;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
}



.CAJATextoTituloPantallaGrande{
  background: rgb(0, 0, 0, 0.0);
  margin: 0 auto;
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 1%;
}

.TextoTituloPantallaGrande{
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  width: 20%;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.TextoTituloPantallaGrandeNueva{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: 20%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 5px;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.TextoTituloPantallaPequeñaNueva{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: 20%;
  height: 15px;
  line-height: 15px;
  position: absolute;
  bottom: 3px;
  font-family: 'Assistant', sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.BarraBotonSpacex2{
  background:rgba(0, 0, 0, 0);
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 1%;
  text-align: center;
}


.BotonSpacex2{
  background: rgba(0, 0, 0, 0.5);
  display:inline-table;
  margin: 0 auto;
  width: 10%;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor:
  pointer;
  transition:all .5s
}

.BotonSpacex2:hover{
  background:#0000f1;
  color:#fff
}


.CAJATitulosMonitor4{
  background: rgb(0, 0, 0, 0.0);
  margin: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
}

.CAJATitulosMonitor4_LEFT{
  background: rgba(0, 110, 255, 0);
  display: inline-block;
  float: left;
  margin: 0;
  width: 50%;
  height: 20px;
  line-height: 20px;
  position: relative;
  top: 0px;
}
.CAJATitulosMonitor4_RIGHT{
  background: rgba(0, 110, 255, 0);
  display: inline-block;
  float: left;
  margin: 0;
  width: 50%;
  height: 20px;
  line-height: 20px;
  position: relative;
  top: 0px;
}

.BarraMonitorNoticias4{
  background:rgba(0, 0, 0, 0);
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 5px;
  text-align: center;
}

.BotonMonitorNoticias4{
  background: rgba(0, 0, 0, 0.0);
  display:inline-table;
  margin: 0 auto;
  width: 5%;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor:
  pointer;
  transition:all .5s
}

.BotonMonitorNoticias4:hover{
  background:#0000f1;
  color:#fff
}


.TextoTituloStreamsChat{
  background: rgba(0, 0, 0);
  margin: 0 auto;
  width: 20%;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
}


.Spinner{
  border: 4px solid rgba(0, 0, 0, .1);
  width: 36px;
  height: 36px;
  border-radius: 50%;

  animation: spin 1s linear infinite;

}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}


.CAJAFondoTitulosMonitor5{
  background: rgb(0, 0, 0, 0.0);
  margin: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
}

.CAJATitulosMonitor5{
  background: rgba(0, 110, 255, 0);
  display: inline-block;
  float: left;
  margin: 0;
  width: 33%;
  height: 20px;
  line-height: 20px;
  position: relative;
  top: 0px;
}

.TextoTituloPantallaPequeñaMonitor5{
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  width: 20%;
  height: 15px;
  line-height: 15px;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.BarraBotonMonitorNoticias5{
  background:rgba(0, 0, 0, 0);
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 3px;
  text-align: center;
}

.BotonMonitorNoticias5{
  display: inline-block;
  background-color: #006deb;
  margin: 0px;
  width: 8%;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}
.BotonMonitorNoticias5:hover{
  background:#0000f1;
  color:#fff
}


.Pantalla_Embed_Aadaptable{
  position: absolute;
 user-select: auto;
 width: 50%;
 height: 50%;
 float: left;
 display: inline-block;
 top: 0px;
 left: 0px;
 z-index: 2;
 transform: translate(0px, 0px);
 box-sizing: border-box;
 flex-shrink: 0;
}


.PantallaEmbedAdaptableSuperiorLEFT{
  position: absolute;
display: inline-block;
width: 50%;
height: 50%;
top: 0%;
left: 0%;
}

.PantallaEmbedAdaptableSuperiorRIGHT{
  position: absolute;
display: inline-block;
width: 50%;
height: 50%;
top: 0%;
right: 0%;
}

.PantallaEmbedAdaptableInferiorLEFT{
  position: absolute;
display: inline-block;
width: 50%;
height: 50%;
top: 50%;
left: 0%;
}

.PantallaEmbedAdaptableInferiorRIGHT{
  position: absolute;
display: inline-block;
width: 50%;
height: 50%;
top: 50%;
left: 0%;
}


/*--------TITULOS NUEVOS Y CAJAS--------*/

.CAJATituloDePantallaPequeña{
  background: rgb(0, 0, 0, 0.0);
  margin: 0 auto;
  width: 100%;
  height: 15px;
  line-height: 15px;
  position: absolute;
  top: 5px;
  text-align: center;
}

.TEXTOTituloDePantallaPequeña{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: 20%;
  height: 15px;
  line-height: 15px;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor:
  pointer;
  transition:all .5s;
  display:inline-table;
}

.TEXTOTituloDePantallaPequeña:hover{
  background:#0067dd;
  color:#fff
}


.CAJATituloDePantallaGrande{
  background: rgb(0, 0, 0, 0.0);
  margin: 0 auto;
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 2%;
  text-align: center;
  
}


.TEXTOTituloDePantallaGrande{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: 20%;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor:
  pointer;
  transition:all .5s;
  display:inline-table;

}

.TEXTOTituloDePantallaGrande:hover{
  background:#0067dd;
  color:#fff
}

/*--------------------------------------------*/

.BARRA_BotonIrAHome{
  background:rgba(0, 0, 0, 0);
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 3px;
  margin: 0 auto;
  text-align: center;
}

.BARRA_BotonIrAHome2{
  background:rgba(0, 0, 0, 0);
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 2%;
  margin: 0 auto;
  text-align: center;
}

.TEXTO_BotonIrAHome{
  display: inline-block;
  background:rgba(0, 0, 0, 0.3);
  margin: 0px;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}
.TEXTO_BotonIrAHome:hover{
  background:#c90101;
  color:#fff
}



.CAJATituloDePantallaPequeñaNEGRA{
  background: rgb(0, 0, 0, 0.0);
  margin: 0 auto;
  width: 100%;
  height: 15px;
  line-height: 15px;
  position: absolute;
  top: 5px;
  text-align: center;
}

.TEXTOTituloDePantallaPequeñaNEGRA{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: 20%;
  height: 15px;
  line-height: 15px;
  border-radius: 0px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor:
  pointer;
  transition:all .5s;
  display:inline-table;
}

.CAJATituloDePantallaGrande2{
  background: rgb(0, 0, 0, 0.0);
  margin: 0 auto;
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 2%;
  text-align: center;
  
}


.TEXTOTituloDePantallaGrande2{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: 20%;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.CAJATituloDePantallaPequeña2{
  background: rgb(0, 0, 0, 0.0);
  margin: 0 auto;
  width: 100%;
  height: 3%;
  line-height: 15px;
  position: absolute;
  top: 5px;
  text-align: center;
}

.TEXTOTituloDePantallaPequeña2{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: auto;
  height: auto;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
  display:inline-table;
}

.CAJATituloDePantallaGrande2{
  background: rgb(0, 0, 0, 0.0);
  margin: 0 auto;
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 2%;
  text-align: center;
  
}


.TEXTOTituloDePantallaGrande2{
  background: rgb(0, 0, 0);
  margin: 0 auto;
  width: 20%;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.BotonSeleccionarSeñales{
  display: inline-block;
  background:rgba(0, 0, 0, 0.3);
  margin: 0px;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}

.BotonSeleccionarSeñales:hover{
  background:#0159be;
  color:#fff
}




.SeleccionarStreamsPorFila{
  display: inline-block;
  background:rgba(0, 0, 0, 0);
  
  margin: 0px;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}

.StreamsPorFila{
  display: inline-block;
  background:rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0);
  margin: 0px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}

.StreamsPorFila:hover{
  background:#4c8304;
  color:#fff
}

.BotonTitulos_ON_OFF{
  display: inline-block;
  background:rgba(0, 0, 0, 0.3);
  margin: 0px;
  width: 10%;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}

.BotonTitulos_ON_OFF:hover{
  background:#0159be;
  color:#fff
}

.BotonROJO{
  background-color: red;
  font-family: 'Assistant', sans-serif;
  color: white;
  cursor:
  pointer;
  transition:all .5s
}

.BotonROJO:hover{
  background:#700000;
  color:#fff
}


.FondoBLANCO{
  background-color: rgb(255, 255, 255);
  font-family: 'Assistant', sans-serif;
  color: white;
}

.FondoGRIS{
  background-color: rgb(114, 114, 114);
  font-family: 'Assistant', sans-serif;
  color: white;
}

.TipoTexto{
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
}

.BotonBordeAZUL{
  background-color: rgb(255, 255, 255);
  font-family: 'Assistant', sans-serif;
  font-weight: normal;
  border-color: #000000;
  border-width: 1px ;
  border-radius: 5px;
  text-align: left;
  color: rgb(0, 0, 0);
  cursor:
  pointer;
  transition:all .3s
}

.BotonBordeAZUL:hover{
  background-color: rgb(255, 255, 255);
  border-color: #0000df;
  border-width: 3px;
  font-weight: bold;
  color:#0000df;
}


.BotonBordeVERDE{
  background-color: #cfcfcf;
  font-family: 'Assistant', sans-serif;
  font-weight: normal;
  border-color:#28a745;
  color: #000000;
  border-width: 3px;
  border-radius: 5px;
  text-align: left;
  cursor:
  pointer;
  transition:all .3s
}
  
.BotonBordeVERDE:hover{
  color:rgb(255, 0, 0);
  background-color:#ffffff88;
  border-color:#ff0000
}


.Titulo{
  margin-bottom:0;
  text-align: center;
  line-height:1.5
}

.BotonINFO{
  display: inline-block;
  background:rgba(0, 0, 0, 0.3);
  margin: 0px;
  width: 3%;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}
.BotonINFO:hover{
  background:#0099ff;
  color:rgb(0, 0, 0)
}



.BotonHomeA{
  background-color: #0000ff;
  border-color: #0000ff;
  border: 3px solid;
  display:inline-table;
  margin: 5px;
  width: 200px;
  height: 50px;
  font-size: 20PX;
  border-radius: 9px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #ffffff;
  cursor:
  pointer;
  transition:all .5s
}

.BotonHomeA:hover{
  color:#0303bb;
  background-color:#ffffff;
  border-color:#0303bb;
}

.BotonHomeM{
  background-color: #8f00c7;
  border-color: #8f00c7;
  border: 3px solid;
  display:inline-table;
  margin: 5px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 9px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #ffffff;
  cursor:
  pointer;
  transition:all .5s
}

.BotonHomeM:hover{
  color:#8f00c7;
  background-color:#ffffff;
  border-color:#8f00c7;
}

.BotonHomeV{
  background-color: #5abb00;
  border-color: #5abb00;
  border: 3px solid;
  display:inline-table;
  margin: 5px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 9px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #ffffff;
  cursor:
  pointer;
  transition:all .5s
}

.BotonHomeV:hover{
  color:#5abb00;
  background-color:#ffffff;
  border-color:#5abb00;
}

.BotonHomeV2{
  background-color: #1ea88b;
  border-color: #1ea88b;
  border: 3px solid;
  display:inline-table;
  margin: 5px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 9px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #ffffff;
  cursor:
  pointer;
  transition:all .5s
}

.BotonHomeV2:hover{
  color:#1ea88b;
  background-color:#ffffff;
  border-color:#1ea88b;
}

.BotonHomeN{
  background-color: #FF6600;
  border-color: #FF6600;
  display:inline-table;
  border: 3px solid;
  display:inline-table;
  margin: 5px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 9px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #ffffff;
  cursor:
  pointer;
  transition:all .5s
}

.BotonHomeN:hover{
  color:#FF6600;
  background-color:#ffffff;
  border-color:#FF6600;
}

.BotonHomeR{
  background-color: #ff0000;
  border-color: #ff0000;
  border: 3px solid;
  display:inline-table;
  margin: 5px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 9px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #ffffff;
  cursor:
  pointer;
  transition:all .5s
}

.BotonHomeR:hover{
  color:#ff0000;
  background-color:#ffffff;
  border-color:#ff0000;
}


.BotonHomeG{
  background-color: #444444;
  border-color: #444444;
  border: 3px solid;
  display:inline-table;
  margin: 5px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 9px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #ffffff;
  cursor:
  pointer;
  transition:all .5s
}

.BotonHomeG:hover{
  color:#444444;
  background-color:#ffffff;
  border-color:#444444;
}

.Caja{
  width: 50%;
  float: left;
}


.Nombres{
  position: relative;
  display: inline-block;
  background:rgb(255, 255, 255);
  margin: 0px;
  width: 100%;
  text-align:right;
}


.Valores{
  position: relative;
  display: inline-block;
  background:rgba(255, 255, 255, 0.966);
  margin: 0px;
  width: 100%;
  text-align: left;
}

.Nombre{
  display: inline-block;
  background:#002fff;
  border: 3px solid #002fff;
  margin: 10px;
  width: 20%;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  padding: 0px;
  font-weight: bold;
  text-align: right;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
}


.Valor{
  display: inline-block;
  background:rgb(255, 255, 255);
  border: 3px solid;
  margin: 10px;
  width: 20%;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  padding: 0px;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  color: #000000;
}



.Selecciones{
  display: inline-block;
  background:rgba(0, 0, 0, 0);
  margin: 0px;
  width: 100px;
  height: 30px;
  line-height: 20px;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #FFFFFF;
}

.Selecciones2{
  display: inline-block;
  background:rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0);
  margin: 0px;
  width: 100%;
  height: 30px;
  line-height: 20px;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}

.Selecciones2:hover{
  background:#006969;
  color:#fff
}

.Boton_ON_OFF_Titulos{
  display: inline-block;
  background:rgba(0, 0, 0, 0.3);
  margin: 0px;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}
.Boton_ON_OFF_Titulos:hover{
  background:#7300df;
  color:#fff
}

.Boton_ON_OFF_Botones{
  display: inline-block;
  background:rgba(0, 0, 0, 0);
  margin: 0px;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #ffffff00;
  cursor:
  pointer;
  transition:all .5s
}
.Boton_ON_OFF_Botones:hover{
  background:#ff5e00;
  color:#fff
}

.Boton_ON_OFF_Botones2{
  display: inline-block;
  background:rgba(0, 0, 0, 0);
  margin: 0px;
  width: 20%;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #ffffff00;
  cursor:
  pointer;
  transition:all .5s
}
.Boton_ON_OFF_Botones2:hover{
  background:#ff5e00;
  color:#fff
}

.Boton_ON_OFF_Titulos2{
  display: inline-block;
  background:rgba(0, 0, 0, 0);
  margin: 0px;
  width: 7%;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #ffffff00;
  cursor:
  pointer;
  transition:all .5s
}
.Boton_ON_OFF_Titulos2:hover{
  background:#ff5e00;
  color:#fff
}

.Boton_ON_OFF_Titulos3{
  display: inline-block;
  background:rgba(0, 0, 0, 0);
  margin: 0px;
  width: 20%;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #ffffff00;
  cursor:
  pointer;
  transition:all .5s
}
.Boton_ON_OFF_Titulos3:hover{
  background:#ff5e00;
  color:#fff
}

.BotonMonitorTV{
  display:inline-table;
  margin: 5px;
  width: 100%;
  height: 40px;
  font-size: 20PX;
  border-radius: 9px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #ffffff;
  cursor:
  pointer;
  transition:all .5s
}




.BotonMonitorTV{
  display:inline-table;
  margin: 5px;
  width: 80%;
  height: 40px;
  font-size: 15PX;
  border-radius: 9px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  color: #ffffff;
  cursor:
  pointer;
  transition:all .5s
}



.BotonTitulosSeñales{

}

.Imagen{
  
}

.BMT_ROJO{
  background-color: #ff0000;
  border-color: #ff0000;
  border: 3px solid;
}

.BMT_ROJO:hover{
  color:#ff0000;
  background-color:#ffffff;
  border-color:#ff0000;
}

.BMT_AZUL{
  background-color: #0000ff;
  border-color: #0000ff;
  border: 3px solid;
}

.BMT_AZUL:hover{
  color:#0303bb;
  background-color:#ffffff;
  border-color:#0303bb;
}

.BMT_NARANJA{
  background-color: #ff5e00;
  border-color: #ff5e00;
  border: 3px solid;
}

.BMT_NARANJA:hover{
  color:#ff5e00;
  background-color:#ffffff;
  border-color:#ff5e00;
}

.Botones{
  
}

.infoSismo{
  background-color: red;
  color: white;
  width: 50%;
  font-size: 15px;
  float: left;
  display: inline-block;
  position: relative;
}

.InfoProfundidad{
  font-size: 15px;
  font-weight: bold;
}

.TituloSismo{
  background-color: #003ec5;
  width: 100%;
  height: 40px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}

.CajaSismo{
  background-color: #93a8d4;
  width: 100%;
  height: 500px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}

.ImagenSismo{
  position: relative;
  background-color: #000000;
  width: 30%;
  height: 500px;
  margin: 0px;
  float: left;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}

.ImagenSismo2{
  position: relative;
  background-color: #000000;
  margin: 0px;
  float: left;
}

.DatosSismo{
  position: relative;
  background-color: #ffffff;
  width: 69%;
  padding-left: 1%;
  height: 500px;
  margin: 0px;
  float: left;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.BarraDato{
  background-color: #ffffff;
  height: 30px;
  width: 100%;
  font-weight: bold;
  color: #000000;
}

.BarraDato2{
  background-color: #ffffff;
  height: 30px;
  width: 100%;
  font-weight: normal;
  color: #000000;
}

.Contador{
  width: 100%;
  height: 35px;
  text-align: center;
  margin:auto;
}


.ContadorIMG{
  display:inline-table;
  width: 250px;
  height: 100%;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}

.ContadorTexto{
  display:inline-table;
  width: 250px;
  height: 100%;
  justify-content: center;
  align-items: center;
  line-height: 50px;

  font-size: 20PX;
  font-weight: bold;
  color: #000000;
}

.BotonTV{
  background-color: #171e27;
  display:inline-table;
  text-align: left;
  vertical-align: middle;
  margin: 5px;
  width: 250px;
  height: 120px;
  border-radius: 9px;
}


.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.5);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves-effect.waves-azul .waves-ripple {
  background-color: rgba(0, 2, 119, 0.5);
}

.waves-effect.waves-verde .waves-ripple {
  background-color: #5abb0080;
}

.waves-effect.waves-verde2 .waves-ripple {
  background-color: #1ea88a88;
}

.waves-effect.waves-morado .waves-ripple {
  background-color: #8f00c77c;
}

.waves-effect.waves-gris .waves-ripple {
  background-color: #4444448e;
}

.waves-effect.waves-naranjo .waves-ripple {
  background-color: #ff660094;
}


.BotonTV_Señales{
  background-color: #ffffff;
  font-family: 'Assistant', sans-serif;
  font-weight: normal;
  border-color: #171e27;
  border-width: 2px ;
  border-radius: 5px;
  margin-bottom: 1px;
  text-align: left;
  color: #171e27;
  cursor:
  pointer;
  transition:all .3s
}

.BotonTV_Señales:hover{
  background-color: rgb(4, 0, 255, 0.2);
  border-color: #0000df;
  border-width: 3px;
  font-weight: bold;
  color:#0000df;
}


.BotonTV_SeñalSeleccionada{
  background-color: rgba(0, 173, 0, 0.2);
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
  border-color:#129700;
  color: #129700;
  border-width: 3px;
  border-radius: 5px;
  text-align: left;
  cursor:
  pointer;
  transition:all .3s
}
  
.BotonTV_SeñalSeleccionada:hover{
  color:rgb(255, 0, 0);
  background-color:rgb(255, 0, 0, 0.1);
  border-width: 3px;
  border-color:#ff0000
}

.FondoTitulo{
  background-color: #3d4147;
  border: 0px;
  font-family: 'Assistant', sans-serif;
  color: white;
}

.FondoSeñales{
  background-color: #ffffff;
  border: 0px;
  font-family: 'Assistant', sans-serif;
  color: white;
}

.CAJATituloDePantalla3{
  background: rgb(0, 0, 0, 0.0);
  margin: 0 auto;
  width: 100%;
  height: 25px;
  line-height: 25px;
  position: absolute;
  top: 5px;
  text-align: center;
}

.TEXTOTituloDePantalla3{
  background: rgba(0, 0, 0, 0.781);
  margin: 0 auto;
  width: auto;
  height: 100%;
  border-radius: 5px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
  display:inline-table;
}

.FondoTitulosSeñales{
  background: rgb(0, 0, 0, 0.0);
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 5px;
  text-align: center;
}

.TextoTitulosSeñales{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: auto;
  height: 100%;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  display:inline-table;
  cursor:
  pointer;
  transition:all .5s
}


.TextoTitulosSeñales:hover{
  background:#ffffff;
  color:rgb(0, 0, 0)
}

.FondoTitulosSeñales2{
  background: rgb(0, 0, 0, 0.0);
  margin: 0 auto;
  width: 100%;
  height: 17px;
  line-height: 17px;
  position: absolute;
  top: 5px;
  text-align: center;
}

.TextoTitulosSeñales2{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: auto;
  height: 100%;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  display:inline-table;
  cursor:
  pointer;
  transition:all .5s
}

.TextoTitulosSeñales2:hover{
  background:#ffffff;
  color:rgb(0, 0, 0)
}

.FondoTitulosMonitor1{
  background: rgb(0, 0, 0, 0.0);
  margin: 0 auto;
  width: 100%;
  height: 3%;
  line-height: 15px;
  position: absolute;
  top: 5px;
  text-align: center;
  left: 0%;
}


.TextoTitulosMonitor1{
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  width: auto;
  height: auto;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
  display:inline-table;
  cursor:
  pointer;
  transition:all .5s
}


.TextoTitulosMonitor1:hover{
  background:#ffffff;
  color:rgb(0, 0, 0)
}


.ZonaRelojes{

}

.BotonLapiz{
  position: absolute;
  top: 1%;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.BotonSeleccionarSeñales2{
  display: inline-block;
  position: absolute;
  left: 1%;
  background:rgba(0, 0, 0, 0);
  margin: 0px;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #ffffff00;
  cursor:
  pointer;
  transition:all .5s
}
.BotonSeleccionarSeñales2:hover{
  background:#ff5e00;
  color:#fff
}

.BotonSeleccionarSeñales2_Antiguo{
  display: inline-block;
  background:rgba(37, 37, 37, 0.349);
  margin: 0px;
  width: 6%;
  height: 20px;
  line-height: 17px;
  font-size: 10px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #ffffff;
  cursor:
  pointer;
  transition:all .5s
}

.BotonSeleccionarSeñales2_Antiguo:hover{
  background:#0026ff;
  color:#fff
}

























