.video-container{
    width: 100%;
    height: 100%;
}

.CuerpoListadoBotonesSeñalesMonitorTV{
    width: 100%;
    height: 90%;
    padding-bottom: 20px;
}

.CuerpoBarraLateralMonitorTV{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: 'Assistant', sans-serif;
    background-color: #ffffff;
    width: 25%;
    height: 100%;
    float: left;
    position: absolute;
    left: 0%;
}

.CuerpoVideoMonitorTV{
    background-color: #d6d6d6;
    width: 75%;
    height:100%;
    right: 0%;
    position: absolute;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.BotonHomeTV{
    display: inline-block;
    background-color: #5e5e5e;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    width: 100%;
    height: 10%;
    cursor:
    pointer;
    transition:all .3s
}

.BotonHomeTV:hover{
    color: #ffffff;
    background-color: #ff0000;
}

.BotonHomeTV3{
    display: inline-block;
    background-color: #5e5e5e;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    cursor:
    pointer;
    transition:all .3s
}

.BotonHomeTV3:hover{
    color: #ffffff;
    background-color: #ff0000;
}

.AvisoActualizacion{
    display: inline-block;
    background-color: #969696;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    width: 100%;
    height: 3%;
    cursor:
    pointer;
    transition:all .3s
}

.AvisoActualizacion:hover{
    color: #ffffff;
    background-color: #42b301;
}


/* listado canales */
.channel-list {
    display: inline-block;
    grid-template-columns: 100%; 
    height: 100%;  
    width: 100%;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}


::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: rgb(124, 124, 124);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid rgb(48, 48, 48);  /* creates padding around scroll thumb */
}



/* ESTILO ANTERIOR
.channel{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    border-color: #2E4053;
    border-width: 1.5px;
    border-radius: 0px;
    padding-left: 5%;
    width: 99%;
    height: 10%;
    color: #2E4053;
    margin: 0;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    margin-bottom: 5%;
    cursor:
    pointer;
    transition:all .2s
}
    
.channel:hover {
    background-color: rgb(255, 255, 255);
    border-color: #0000df;
    border-width: 2px;
    font-weight: bold;
    color:#0000df;
    border-radius: 0px;
    box-shadow: 0px 0px 10px #0000df;
}

  

.SeñalSeleccionada {
    background-color: #ffffff;
    color: #129700;
    border-radius: 0px;
    border: 2px solid #129700;
    box-shadow: 0px 0px 10px #129700;
}*/

/* ESTILO NUEVO */
.channel{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    border: solid 2px #2E4053;
    color: #2E4053;
    border-radius: 5px;
    padding-left: 5%;
    width: 99%;
    height: 55px;
    margin: 0;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    margin-bottom: 12px;
    cursor:
    pointer;
    transition:all .2s
}
    
.channel:hover {
    background-color: rgb(255, 255, 255);
    border-color: #0000df;
    border-width: 2px;
    font-weight: bold;
    color:#0000df;
    box-shadow: 0px 2px 10px #0000df;
}



.SeñalSeleccionada{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    border: solid 2px #15b100;
    color: #15b100;
    box-shadow: 0px 2px 10px #15b100;
    border-radius: 5px;
    padding-left: 5%;
    width: 99%;
    height: 55px;
    margin: 0;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    margin-bottom: 12px;
    cursor:
    pointer;
    transition:all .2s
}

/* Video */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0; 
    height: 0; 
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed{
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}



/* barra sobre transmisiones */
.nombre-barra {
    position: absolute;
    width: 100%;
    top: 1px;
    text-align: center;
    font-size: clamp(0.375rem, 0.6875rem, 1rem);
}

.nombre-barra>a,
.nombre-barra>span {
    padding: 0 5px;
    border-radius: 6px;
    background: var(--black);
    opacity: .6;
}

.nombre-barra>a:hover,
.nombre-barra>span:hover {
    opacity: 1;
}
