body {
    background-color: #f2f2f2; /* Modo claro */
    color: #333; /* Color de texto para modo claro */
}

.dark-mode body {
    color: #FFFFFF;
}

.dark-mode #Logo {
    filter: 
    grayscale(100%) 
    invert(100%) 
    brightness(200%);
}

/*MENU*/
.DivTituloMenuAjustes{
    display: flex;
    /*background-color: #FFFFFF;*/
    /*border: solid 2px #FFFFFF;*/
    color: #000000;
    margin-left: 0px;
    padding-left: 5px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 17px;
    border-radius: 5px;
    font-weight: bold;
    align-items: center;
}

/*MODO OSCURO*/
.dark-mode .DivTituloMenuAjustes{
    display: flex;
    /*background-color: #FFFFFF;*/
    /*border: solid 2px #FFFFFF;*/
    color: #ffffff;
    margin-left: 0px;
    padding-left: 5px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 17px;
    border-radius: 5px;
    font-weight: bold;
    align-items: center;
}

/*BARRA LATERAL IZQUIERDA*/
.CuerpoFondoBarraLateral{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: #d6d6d6;
    width: 25%;
    height: 100%;
    position: absolute;
}

@media (max-width: 768px) {
    .CuerpoFondoBarraLateral {
        background-color: #d6d6d6;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-right: 20px;
        width: 100%;
        height: -webkit-fill-available;
    }
  }

/*MODO OSCURO*/
.dark-mode .CuerpoFondoBarraLateral {
  /*background-color: #202125;*/
  /*background-color: #1a1e2a;*/
  background-color: #141417;
  color: #fff;
}

/*VIDEO*/
.video-container{
    width: 100%;
    height: 100%;
}

/*LISTA DE SEÑALES*/
.CuerpoListadoBotonesSeñalesMonitorTV{
    flex: 1;
    width: 100%;
    /*padding-bottom: 20px;*/
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .CuerpoListadoBotonesSeñalesMonitorTV {
        width: 100%;
        /*padding-bottom: 10px;*/
    }
  }

/*DIV LISTADO Y BOTON MENU*/
.CuerpoBarraLateralMonitorTV{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Assistant', sans-serif;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    float: left;
    left: 0%;
}

@media (max-width: 768px) {
    .CuerpoBarraLateralMonitorTV {
        margin-left: 10px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Assistant', sans-serif;
        background-color: #ffffff;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        float: left;
        left: 0%;
    }
  }

.dark-mode .CuerpoBarraLateralMonitorTV {
    /*background-color: #212936;
    background-color: #2a3044;*/
    background-color: #1d1c20;
    color: #fff;
}

.BottomDivWrapper {
    display: flex;
    justify-content: space-between;
    /* Los demás estilos... */
  }

/*DIV FONDO VIDEO*/
.CuerpoVideoMonitorTV{
    background-color: #d6d6d6;
    width: 75%;
    height:100%;
    right: 0%;
    position: absolute;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .CuerpoVideoMonitorTV {
        background-color: #d6d6d6;
        position: initial;
        width: 100%;
        height: auto;
        right: 0%;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
  }

.dark-mode .CuerpoVideoMonitorTV {
    /*background-color: #202125; */
    /*background-color: #1a1e2a; */
    background-color: #141417;
    color: #fff;
}

.modal-backdrop.show{
    opacity: 9;
}

.modal-backdrop {
    background-color: #800;
}

/* listado canales */
.channel-list {
    display: inline-block;
    grid-template-columns: 100%; 
    height: 100%;
    margin-bottom: 15px;
    width: 100%;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #002fff00;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    height: 40px;
    background-color: rgb(124, 124, 124);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid rgb(48, 48, 48);  /* creates padding around scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(97, 97, 97);    /* color of the scroll thumb */
    
}

/* ESTILO NUEVO */
.channel{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    border: solid 2px #2E4053;
    color: #2E4053;
    border-radius: 5px;
    padding-left: 5%;
    width: 99%;
    height: 55px;
    margin: 0;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    margin-bottom: 12px;
    cursor:
    pointer;
    transition:all .2s
}

.dark-mode .channel {
    /*background-color: #181D2D;*/
    /*background-color: #2a3044;*/
    background-color: #1d1c20;
    border: solid 2px #5f6368;
    color: #FFFFFF;
}
    
.channel:hover{
    background-color: rgb(255, 255, 255);
    border-color: #2E4053;
    border-width: 2px;
    font-weight: bold;
    color:#2E4053;
    box-shadow: 0px 2px 10px #586777;
}

.dark-mode .channel:hover{
    /*background-color: #222941;*/
    background-color: #323238;
    border-color: #FFFFFF;
    border-width: 2px;
    font-weight: bold;
    color:#FFFFFF;
    box-shadow: 0px 0px 0px #00000000;
}

.SeñalSeleccionada{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    border: solid 2px #15b100;
    color: #15b100;
    box-shadow: 0px 2px 10px #15b100;
    border-radius: 5px;
    padding-left: 5%;
    width: 99%;
    height: 55px;
    margin: 0;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    margin-bottom: 12px;
    cursor:
    pointer;
    transition:all .2s
}

.dark-mode .SeñalSeleccionada{
    background-color: #323238;
    display: flex;
    align-items: center;
    justify-content: left;
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px #00000000;
    border-radius: 5px;
    padding-left: 5%;
    width: 99%;
    height: 55px;
    margin: 0;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    margin-bottom: 12px;
    cursor:
    pointer;
    transition:all .2s
}

/* Video */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0; 
    height: 0; 
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed{
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

/* barra sobre transmisiones */
.nombre-barra {
    position: absolute;
    width: 100%;
    top: 1px;
    text-align: center;
    font-size: clamp(0.375rem, 0.6875rem, 1rem);
}

.nombre-barra>a,
.nombre-barra>span {
    padding: 0 5px;
    border-radius: 6px;
    background: var(--black);
    opacity: .6;
}

.nombre-barra>a:hover,
.nombre-barra>span:hover {
    opacity: 1;
}

.CuerpoListaDeSeñalesMonitorTVMOVIL{
    position: absolute;
    bottom: 5%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-family: 'Assistant', sans-serif;
    background-color: #ffffff;
    width: 100%;
    height: 60%;
    float: left;
}

.CuerpoVideoMonitorTVMOVIL{
    background-color: #ffffff;
    width: 100%;
}
