* {
    box-sizing: border-box;
   }
*:before,
*:after {
    box-sizing: border-box;
}

:root,
body {
    padding: 0;
    margin: 0;
    color: #ACBDCE;
    background: #051320; 
    font-family: 'Poppins', sans-serif, Arial;
}

a {
    color: #8a8a8a;
    border-bottom: 1px #808080 dotted;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
    border-bottom: 2px #fa9919 dotted;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    height: 60px;
}

main {
    min-height: calc(100vh - 100px);
}

.grid {
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    padding: 0px;
    gap: 10px;
}

.video-container,
.channels-container {
    border: 1px solid #ffffff;
    padding: 10px;
}

.recordatorio {
    font-weight: 700;
    font-size: calc(2rem + 2vw);
    text-transform: uppercase;
    color: #fa9919;
}

/* listado canales */
.channel-list {
    display: grid;
    grid-template-columns: 100%; 
    height: 80vh;  
    gap: 10px;
    width: 100%;
    scrollbar-width: thin;
    overflow-y: scroll; 
}





  

/* .channel {
    display: flex;
    align-items: center;
    justify-content: lceft;
    border: 1px solid #38444d;
    border-radius: 0px;
    height: 3rem;
    width: 100%;
    margin: 0;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
} */

.channel{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    border-color: #171e27;
    border-width: 2.3px;
    border-radius: 0px;
    height: 3rem;
    width: 100%;
    color: #171e27;
    margin: 0;
    font-size: 18px;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    cursor:
    pointer;
    transition:all .2s
  }
    
.channel:hover {
    background-color: rgb(255, 255, 255);
    border-color: #0000df;
    border-width: 2.3px;
    font-weight: bold;
    color:#0000df;
    box-shadow: 0px 0px 10px #0000df;
}

.BotonTV_Señales{
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    font-weight: normal;
    border-color: #171e27;
    border-width: 2px ;
    border-radius: 5px;
    margin-bottom: 1px;
    text-align: left;
    border-width: 2.3px;
}
  

.active {
    background-color: #ffffff;
    color: #129700;
;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 10px #129700;
}

/* Video */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0; 
    height: 0; 
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed{
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}
