body{
margin: 0;
background-color: #000000;
text-align: justify;
font-family: 'Assistant', sans-serif;
}
h1{
margin: 10px;
background-color: #0066F9;

text-align: center;
color: #FFFFFF;
}


section#Pantallas1{
  display: inline-block;
  margin: 0px;
  width: 1280px;
  height: 360px;
  padding: 0px;   
  background-color: #000000;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

section#Pantallas2{
  display: inline-block;
  margin: 0px;
  width: 1280px;
  height: 239px;
  padding: 0px;   
  background-color: #000000;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}


.CajaBotones {
  width: 100%;
  margin: 0px;
  height: 23px;
  line-height: 23px;
  background-color: #032eeb;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.Boton{
  display: inline-block;
  margin: 0px;
  width: 100px;
  height: 23px;
  line-height: 23px;
  font-size: 15px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .5s
}

.Boton:hover{
  background:#010172;
  color:#fff}

.CajaTitulos{
  margin: 0px;
  width: 150px;
  border-radius: 4px;
  background:rgba(0, 0, 0, 0);
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 220px;
  cursor:
  pointer;
  transition:all .4s;
}

.CajaTitulos:hover{
  color:#fff;
  background: rgba(221, 0, 0, 100);
}


.CajaTitulosLargo{
  margin: 0px;
  width: 200px;
  border-radius: 4px;
  background:rgba(0, 0, 0, 0);
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 220px;
  cursor:
  pointer;
  transition:all .4s;
}

.CajaTitulosLargo:hover{
  color:#fff;
  background: rgba(221, 0, 0, 100);
}

.Titulo_Señal{
  display: inline-block;
  margin: 0px;
  width: 150px;
  height: 20px;
  padding: 0px;   
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}

.CajaTitulosInferior_Monitor2{
  margin: 0px;
  width: 100px;
  border-radius: 3px;
  background:rgba(0, 0, 0, 0);
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 220px;
  cursor:
  pointer;
  transition:all .4s;
}

.CajaTitulosInferior_Monitor2:hover{
  color:#fff;
  background: rgba(221, 0, 0, 100);
}




.Titulo_Señal_Inferior_Monitor2{
  display: inline-block;
  margin: 0px;
  width: 100px;
  height: 15px;
  padding: 0px;   
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.3);
  font-size: x-small;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}


.Titulo_Señal_Largo{
  display: inline-block;
  margin: 0px;
  width: 200px;
  height: 20px;
  padding: 0px;   
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}


section#Relojes{
  display: inline-block;
  margin: 0px;
  width: 100%;
  height: 90px;
  padding: 0px;
  background-color: #000000;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}



.Div_Pantalla_Pequeña_Inferior{
  width: 239px;
  height: 33%;
}



.CajaTitulosSinSeñal{
  margin: 0px;
  width: 100px;
  border-radius: 4px;
  background:rgba(255, 0, 0, 100);
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 220px;
  cursor:
  pointer;
  transition:all .4s;
}

.CajaTitulosSinSeñal:hover{
  color:#fff;
  background: rgba(255, 255, 255, 100);
}

.Titulo_Sin_Señal{
  display: inline-block;
  margin: 0px;
  width: 100px;
  height: 20px;
  padding: 0px;   
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}

/*--------PAGINA INDEX--------*/



section#FondoImagenHome{
  display: inline-block;
  margin: 0px;
  width: 100%;
  height: 100px;
  align-items: center;
  text-align: center;

}

.BotonHome{
  background-color: #FF0000;
  display: inline-block;
  margin: 20px;
  width: 250px;
  height: 50px;
  padding: 0px;
  font-size: x-large;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonHome:hover{
  background:#1E1EF0;
  color:#fff
}


.BotonEspecial_1{
  display: inline-block;
  margin: 20px;
  width: 1140px;
  height: 50px;
  padding: 0px;
  background-color: #0097FF;
  font-size: xx-large;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonEspecial_1:hover{
  background:#012251;
  color:#fff}

.BOTON_Monitor2{
  background-color: #000000;
  display: inline-block;
  margin: 0px;
  width: 100px;
  height: 15px;
  padding: 0px;
  border-radius: 3px;
  font-size: x-small;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .4s
}

.BOTON_Monitor2:hover{
  background:#FF0000;
  color:#fff}


  .BOTON_Monitor3{
    background-color: #000000;
    display: inline-block;
    margin: 0px;
    width: 70px;
    height: 15px;
    padding: 0px;
    border-radius: 0px;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    cursor:
    pointer;
    transition:all .4s
  }
  
  .BOTON_Monitor3:hover{
    background:#FF0000;
    color:#fff}


    .CajaMenuChile2{
      margin: 0px;
      width: 70px;
      border-radius: 0px;
      background:rgba(0, 0, 0, 0);
      font-weight: bold;
      color: #FFFFFF;
      position: absolute;
      left: 0px;
      top: 220px;
      cursor:
      pointer;
      transition:all .4s;
    }
    
    .CajaMenuChile2:hover{
      color:#fff;
      background: rgba(221, 0, 0, 100);
    }


.CajaTitulosInferior_Monitor2_BOTON{
  margin: 0px;
  width: 100px;
  border-radius: 3px;
  background:rgba(0, 0, 0, 0);
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 220px;
  cursor:
  pointer;
  transition:all .4s;
}

.CajaTitulosInferior_Monitor2_BOTON:hover{
  color:#fff;
  background: rgba(221, 0, 0, 100);
}



/*--------PAGINA MONITOR GIGANTE MONITOR 2--------*/



section#PantallasInferior1{
  display: inline-block;
  margin: 0px;
  width: 1280px;
  height: 180px;
  padding: 0px;   
  background-color: #000000;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

section#PantallasInferior2{
  display: inline-block;
  margin: 0px;
  width: 1280px;
  height: 180px;
  padding: 0px;   
  background-color: #000000;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.Div_Pantalla_Pequeña_Inferior_Monitor2{
  width: 320px;
  height: 180px;
}


section#RelojesMonitor2{
  display: inline-block;
  margin: 0px;
  padding: 0px;   
  background-color: #000000;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}



.CajaRelojes{
  width: 100%;
  height: 100%;
}








.BotonHome2{

}

.InfoSismo1VERDE{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: rgb(0, 173, 0);
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: bold;
  line-height: 100px;
}

.InfoSismo2VERDE{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: rgb(0, 173, 0);
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: bold;
  line-height: 100px;
}


.InfoSismo1AMARILLO{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: #eeff00;
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: bold;
  line-height: 100px;
}

.InfoSismo2AMARILLO{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: #eeff00;
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: bold;
  line-height: 100px;
}

.InfoSismo1ROJO{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: #ff0000;
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  line-height: 100px;
}

.InfoSismo2ROJO{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: #ff0000;
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  line-height: 100px;
}



  .NombreEstacion{
    display: inline-block;
    margin: 0px;
    width: 200px;
    height: 15px;
    padding: 5px;   
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.4);
    text-align: right;
    font-weight: bold;
    color: #FFFFFF;
  }

  
  .NombreEstacionesChile{
    background-color: #5c5d5e;
    display:inline-table;
    margin: 0px;
    width: 350px;
    height: 15px;
    padding: 5px; 
    font-size: 10PX;
    border-radius: 0px;
    font-weight: bold;
    text-align: right;
    line-height: 15px;
    color: #FFFFFF;
    cursor:
    pointer;
    transition:all .7s
  }
  
  .NombreEstacionesChile:hover{
    background:#0000df;
    color:#fff
  }


  .FondoBody{
    background-color: rgb(0, 0, 0);
  }

  .VIVO{
    margin: 0px;
    background-color: red;
    font-weight: bold;
    text-align: center;
    color: white;
    height: 20px;
    width: 50px;
  }


  .TEXTO1{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    color: black;
    height: 20px;
    width: 765px;
  }


  .TEXTO2{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    color: black;
    height: 20px;
    width: 405px;
  }


.TituloPrincipalEstacionesChile{
  margin: 00px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  background-color: #0066F9;
  text-align: center;
  color: #FFFFFF;
}

.BotonIrisEdu{
  background-color: #3888f8;
  display:inline-table;
  margin: 0px;
  width: 100%;
  height: 40px;
  font-size: 25PX;
  border-radius: 0px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonIrisEdu:hover{
  background:#010172;
  color:#fff
}


.TituloPrincipalEstacionesChile3{
  margin: 00px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: large;
  background-color: #6ba8fd;
  text-align: center;
  color: #FFFFFF;
}




.TituloHome{
  background-color: #0066F9;
  width: 100%;
  height: 60px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 35px;
  font-weight: bold;
}

.DivBotonesHome{
  width: 100%;
  height: 600px;
            text-align: center;
            margin:auto;
}

.BotonesHome{
  background-color: #032eeb;
  display:inline-table;
  margin: 10px;
  width: 250px;
  height: 50px;
  font-size: 20PX;
  border-radius: 0px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  color: #FFFFFF;
  cursor:
  pointer;
  transition:all .7s
}

.BotonesHome:hover{
  background:#010172;
  color:#fff
}


.TextoBotonHome{
  background-color: red;
}




