* {
    box-sizing: border-box;
   }
*:before,
*:after {
    box-sizing: border-box;
}

:root,
body {
    padding: 0;
    margin: 0;
    color: #ACBDCE;
    background: #051320; 
    font-family: 'Poppins', sans-serif, Arial;
}

a {
    color: #8a8a8a;
    border-bottom: 1px #808080 dotted;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
    border-bottom: 2px #fa9919 dotted;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

main {
    min-height: calc(100vh - 100px);
}

.grid {
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    padding: 0px 20px;
    gap: 10px;
}

.video-container,
.channels-container {
    border: 1px solid #ffffff;
    padding: 0 20px;
}

.recordatorio {
    font-weight: 700;
    font-size: calc(2rem + 2vw);
    text-transform: uppercase;
    color: #fa9919;
}

/* listado canales */
.channel-list {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 1fr; 
    height: 80vh;  
    gap: 10px;
    width: 100%;
    scrollbar-width: thin;
    overflow-y: scroll; 
}

/* btn canales */
.channel {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #38444d;
    border-radius: 6px;
    height: 2rem;
    margin: 0;
}

.channel:hover {
    border: 1px solid white;
    background-color: #9b9b9b;
    font-weight: 700;
    cursor: pointer;
}

.active {
    background-color: #375f43;
    color: white;
}

/* Video */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0; 
    height: 0; 
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed{
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

/* barra sobre transmisiones */
.nombre-barra {
    position: absolute;
    left: 35%;
    right: 35%;
    top: 1px;
    text-align: center;
    font-size: clamp(0.375rem, 0.6875rem, 1rem);
}

.nombre-barra>a{
    padding: 0 5px;
    border-radius: 6px;
    background: black;
    opacity: .6;
}

.nombre-barra>a:hover {
    opacity: 1;
}

footer {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #0f0f0f;
    border-top: 1px solid #500909;
    font-size: .7rem;
}

footer span{
    display: block; 
    cursor: default;
    padding: .5rem;
}


@media (max-width:1200px) {
    header{
        font-size: medium;
    }
    .grid {
        grid-template-columns: 1fr
    }
    .channel-list {
        justify-content: space-between
    }
    footer{
        position: relative;
        margin-top: 2rem;
    }
}

@media (max-width:700px) {
    header,
    main{
        font-size: x-small;
    }
    .nombre-barra {
        left: 25%;
        right: 25%;
    }
    footer{
        margin-top: 0;
    }
}