*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main: #ACBDCE;
    --secondary: #38444d;
    --background: #051320;

    --dark-green: #375f43;
    --light-green: #72c98c;

    --white: #ffffff;
    --black: #000000;
    --grey: #808080;
}

body {
    color: var(--main);
    background: var(--background);
    font-family: 'Poppins', sans-serif, Arial;
}

a {
    color: var(--grey);
    border-bottom: 1px var(--grey) dotted;
    text-decoration: none;
}

a:hover {
    color: var(--white);
    border-bottom: 2px var(--light-green) dotted;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    width: 100%;
}

.btns-header{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    height: calc(100vh - 100px);
}

.grid {
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-template-rows: 2fr;
    padding: 0 20px;
    gap: 10px;
}

.video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--secondary);
}

.recordatorio {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: calc(2rem + 2vw);
    text-transform: uppercase;
    color: var(--light-green);
}

.video-container iframe,
.m3u-stream>div,
.video-container video,
.video-container object,
.video-container embed {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.channels-container {
    height: 100%;
    overflow: hidden;
    border: 1px solid var(--secondary);
    border-radius: 10px;
}

.channel-list {
    height: 90%;
    padding: 20px;
}

/* listado canales */
.channel-btns,
.channel-btns-m3u {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 1fr;
    gap: 10px;
    width: 100%;
    height: 100%;
    scrollbar-width: thin;
    overflow-y: scroll;
}

/* btn canales */
.channel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 2rem;
    border: none;
}

.channel:hover {
    border: 1px solid var(--white);
    background-color: var(--grey);
    cursor: pointer;
}

.active {
    background-color: var(--dark-green);
    border: 1px solid var(--light-green);
    color: var(--white);
}

.boton-iptv {
    padding: 5px 12px;
    background-color: var(--white);
    color: var(--black);
    position: relative;
    border-radius: 6px;
    text-align: center;
    overflow: hidden;
    border: none;
    cursor: pointer;
    user-select: none;
}

.boton-iptv span {
    position: relative;
}

.boton-iptv::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: opacity .4s cubic-bezier(.19, 1, .22, 1), transform .75s cubic-bezier(.19, 1, .22, 1);
    background-color: var(--grey);
    opacity: 0;
}

.boton-iptv:hover span {
    color: var(--white);
}

.boton-iptv:hover::before {
    opacity: 1;
    transition-duration: .85s;
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1)
}

/* barra sobre transmisiones */
.nombre-barra {
    position: absolute;
    width: 100%;
    top: 1px;
    text-align: center;
    font-size: clamp(0.375rem, 0.6875rem, 1rem);
}

.nombre-barra>a,
.nombre-barra>span {
    padding: 0 5px;
    border-radius: 6px;
    background: var(--black);
    opacity: .6;
}

.nombre-barra>a:hover,
.nombre-barra>span:hover {
    opacity: 1;
}

/* flip listado canales */
.flip-container {
    perspective: 1000px;
}

.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back,
.flipper {
    height: 100%;
    width: 100%;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

/* switch on/off */
.switch {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--light-green);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--light-green);
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: var(--black);
    border-top: 1px solid var(--secondary);
    font-size: .7rem;
}

footer span {
    display: block;
    cursor: default;
    padding: .5rem;
}

/* alerta de no javascript */
.no-js {
    z-index: 3000;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.no-js>p {
    color: var(--black);
    font-size: clamp(0.5rem, 10vw, 3rem);
    margin: 0 10%;
    /* text-align: center; */
}

/* animacion de fondo cuando noscript esta activo */
.wave,
.wave::before,
.wave::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250vw;
    height: 250vw;
    margin-left: -125vw;
    transform-origin: 50% 50%;
    border-radius: 38% 42%;
    animation: spin 36s infinite linear;
    background: linear-gradient(to bottom, rgba(102, 32, 41, 0.2), transparent);
}

.wave::before {
    width: 105%;
    height: 95%;
    margin-top: -125vw;
    transform-origin: 49% 51%;
    border-radius: 40% 38%;
    animation: spin 20s infinite linear;
}

.wave::after {
    width: 102%;
    height: 98%;
    margin-top: -125vw;
    transform-origin: 51% 49%;
    border-radius: 48% 42%;
    animation: spin 40s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:1024px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr;
        height: 95%;
    }

    .channel-list {
        height: 80%;
    }
}

@media screen and (max-width:700px) {

    header,
    main {
        font-size: x-small;
    }
}