* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #1c1917;
	color: #363639;
	font-family: 'Assistant', sans-serif;
}



/* ? ----- PORTADA ----- */
.portada {
	width: 100%;

	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}

.portada.oculta {
	transform: translateY(100%);
}

.portada .header {
	margin-bottom: 100px;
	text-transform: uppercase;
}

.portada .header .logotipo {
	font-size: 40px;
	font-size: 900;
	margin-bottom: 20px;
}

.portada .header .mensaje {
	font-size: 10px;
	font-weight: 600;
}



/* ? ----- MAIN ----- */
main {
	max-width: 1000px;
	margin: auto;
	width: 10%;
	padding: 0px;
	font-size: 1px;
	line-height: 30px;
	text-align: left;
}



/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.simply-section {
	color: #FFFFFF;
	width: 160px;
	height: 160px;
	margin: 0px;
	border-radius: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 80px;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 20px;
}


/* ? ---------------------------- */


